html {
    box-sizing: border-box;
   }
   *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #2C2141;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    border-radius: 16px;
    padding: 32px;
    background-color: #F8F8F8;
    margin: 16px;

  
}

.article__avatar {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-right: 32px;
    display: flex;
    justify-content: center;
}

.article {
    box-sizing: border-box;

    width: 624px;
    border-radius: 16px;
    display: flex;
}

.header__paragraf {
    margin: 0px;
    padding-bottom: 24px;
    color: #545454;
    font-size: 18px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.header__title {
    margin: 0px;
    font-weight: normal;
}

.article__paragraf {

}